/*reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    /*    color: #160404;*/
    color: #333;
    font-family: 'Yu Gothic';
    /*    font-family: 'Meiryo UI'*/
    /*    font-family: 'Yu Mincho'*/
    /*    font-family: 'Osaka'*/
    /*    font-family: 'Osaka-Mono'*/
    /*    font-family: 'Droid-Sans'*/
}

header,
footer,
nav {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/*reset done*/

header,
.content,
footer {
    display: block;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    height: 150px;
    background-color: #a33;
    background-color: #0c4;
    z-index: 5;
    border-radius: 0 0 100px 100px
}

/*
header .box{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: #ddd solid;
    background-color: aliceblue;
    left: 50px;
    top: 50px;
}
*/
header .logo {
    display: inline-block;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
}

header .title {
    text-align: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    color: #fff;
    position: relative;
    top: 50px
}

header .menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: #ddd solid;
    background-color: #eee;
    border-radius: 0 100% 0 0;
    position: absolute;
    right: 50px;
    top: 50px;
    box-shadow: 1px 5px 10px 1px #333;
    cursor: pointer;
}

header .menu:hover {
    background-color: #333;
}

header .menu:active {
    background-color: #b33;
}

.content {
/*    background: linear-gradient(#a33, #fff, #ee6, #082, #063);*/
    background: 
        linear-gradient(0deg,#063 ,rgba(30,150,150,0.9), rgba(50,0,150,0.8), rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(180deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.content,
footer {
    position: relative;
    padding: 0vh 0 40vh;
}

.content h2 {
    font-size: 50px;
    text-align: center;
    margin: 0px auto;

}

.describe {
    font-size: 14px;
    margin: 20px 50px;
}

block {
    display: block;
    text-align: center;
}

input {
    font-size: 24px;
    padding: 5px;
}

input.email {
    width: 80%;
    height: 70px;
    background-color: none;
    border-bottom: #333 solid 2px;
    box-shadow: 1px 3px 3px 0 #333;
    border-radius: 10px;
}

input.btn {
    background-color: #093;
    color: #fff;
    width: 15%;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 2px 4px 8px 0 #333;
    border-radius: 10px;
    font-size: 36px;
}

input.btn2 {
    background: #fff;
    color: #336;
    font-weight: bold;
}

.title-copy {
    z-index: 0;
    position: fixed;
    padding: 300px 0;
    display: block;
    width: 100vw;
    min-height: 30vh;
    line-height: 1.4;
    
}

.title-copy h2 {
    color: #fff;
    margin: 100px auto;
}

.target,
.status-quo,
.history,
.future,
.plan,
.gather {
    z-index: 2;
    /*    background-color:#eee;*/
    background-color: #fff;
    position: relative;
    top: 40vh;
    padding: 50px 0;
    /*    border: solid #333;*/
    margin: 50px 5px;
    box-shadow: 1px 3px 5px 0 #333;
    border-radius: 50px;
    transform: translate(0, 20px)
}

footer {
    text-align: center;
    background-color: #063;
    padding: 50px 0;

}

footer h2 {
    font-size: 28px;
    color: #ddd;
    margin: 0px auto 50px;
}

footer h3 {
    margin: 20px auto;
    color: #ddd;
}

footer ul {

    width: 40%;
    margin: 50px auto;
}

footer li {
    color: #ddd;
    font-size: 30px;
    margin: 1em;
}

footer a {
    color: #ddd;
}

footer .story {
    list-style: unset
}

footer .sns {
    display: flex;
    justify-content: space-between
}

footer .sns li {
    width: 20%;
}

.email-box {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100vw;
    background-color: #eee;
    z-index: 5;
    text-align: center;
    padding: 10px auto;
    background-color: #063;
    padding: 30px 0 0;
}

.email-box h3 {
    font-size: 36px;
    color: #eee;
}

.email-box .x {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    right: 30px;

}

.email-box .bar {
    display: block;
    width: 70%;
    height: 3px;
    background-color: #333;
    cursor: pointer;
    position: relative;
    top: 0;
}

.email-box .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 25px;
    left: 0;
}

.email-box .bar:nth-child(2) {
    transform: rotate(135deg);
    top: 22px;
    right: 0;
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
}

.cp_iptxt input[type='text']:focus {
    outline: none;
}

.ef {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid #1b2538;
    background-color: transparent;
}

.ef ~ .focus_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
    background-color: #da3c41;
}

.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
    width: 100%;
    transition: 0.4s;
}

.ef ~ label {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    color: #aaaaaa;
}

.ef:focus ~ label,
.cp_iptxt.ef ~ label {
    font-size: 12px;
    top: -16px;
    transition: 0.3s;
    color: #da3c41;
}

.non-close {
    position: relative;
    z-index: 0;
    bottom: -20px
}

.non-close .x {
    display: none;
}

.non-close h3 {
    font-size: 14px;
}

.close {
    display: none;
}

.for-close {
    display: none;
}
